.nav-title {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: xx-large;
}

nav {
  padding: 10px 10px 10px 20px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}
