/* styles.module.css */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}
.input {
  flex-direction: column;
  display: flex;
  align-items: center; /* Align items in the center */
}

.controls {
  text-align: center;
  padding: 20px;
}

.output {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-bottom: 20px;
  position: relative;
  margin-top: 0.25rem;
}
.output div {
  overflow: auto;
  margin: 10px;
  width: 80vw;
  padding: 20px;
  padding-top: 2.5rem;
  border-color: #f0f0f0; /* Light gray background */
  border-width: 10px;
  border-style: solid;
  border-radius: 8px; /* Rounded corners */
}

.input-container-original,
.input-container-modified {
  margin: 10px;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Add padding */
}

textarea {
  width: 80vw;
  height: 40vh; /* Reduce height for better proportion */
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px; /* Increase font size for better readability */
}

label {
  display: block; /* Ensure labels are displayed as block elements */
  margin-bottom: 5px; /* Add spacing between label and textarea */
}
.legend {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
}
.legend-color {
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

.output__wrap-toggle {
  cursor: pointer;
  position: absolute;
  top: calc(+1.2rem + 10px);
  right: calc(10vw - 20px);
  padding: 2px 5px 2px 5px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}
.output__wrap-toggle__on {
  background-color: #f0f0f0;
}

.output__wrap-toggle__off {
  background-color: #ffffff;
}

.footer {
  height: 20vh;
}
.spinner-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 851px) {
  .input {
    flex-direction: row;
    justify-content: center; /* Change justification to display side by side */
  }

  textarea {
    width: 40vw;
    height: 500px;
  }

  .input-container-original,
  .input-container-modified {
    margin: 0 10px; /* Adjust margin for side by side layout */
  }
}
